<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2011 Oracle. All rights reserved.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v1.0, which accompanies this distribution
  and is available at http://www.eclipse.org/legal/epl-v10.html.

  Contributors:
    Oracle - initial API and implementation
 -->
 
<plugin>
	
	<!--
	******************************************
	* Library Provider Framework Integration *
	******************************************
	-->
	
	<extension point="org.eclipse.jst.common.project.facet.core.downloadableLibraries">
		
		<import-definitions 
			url="http://www.eclipse.org/webtools/dali/dev/eclipselink/eclipselink-downloadable-libs.xml">
			<enablement>
				<with variable="requestingProjectFacet">
					<or>
						<test 
							property="org.eclipse.wst.common.project.facet.core.projectFacet" 
							value="jpt.jaxb" 
							forcePluginActivation="true"/>
						<test 
							property="org.eclipse.wst.common.project.facet.core.projectFacet" 
							value="jpt.jpa" 
							forcePluginActivation="true"/>
					</or>	
				</with>
			</enablement>
		</import-definitions>
		
	</extension>
	
	
	<!--
	******************************************
	* EclipseLink schemas                    *
	******************************************
	-->
	
	<extension 
		point="org.eclipse.wst.xml.core.catalogContributions">
		
		<catalogContribution id="default">
			
			<public
				publicId="http://www.eclipse.org/eclipselink/xsds/persistence/orm"
				uri="schemas/eclipselink_orm_2_3.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_orm_1_0.xsd"
				uri="schemas/eclipselink_orm_1_0.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_orm_1_1.xsd"
				uri="schemas/eclipselink_orm_1_1.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_orm_1_2.xsd"
				uri="schemas/eclipselink_orm_1_2.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_orm_2_0.xsd"
				uri="schemas/eclipselink_orm_2_0.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_orm_2_1.xsd"
				uri="schemas/eclipselink_orm_2_1.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_orm_2_2.xsd"
				uri="schemas/eclipselink_orm_2_2.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_orm_2_3.xsd"
				uri="schemas/eclipselink_orm_2_3.xsd"/>
			
			<public
				publicId="http://www.eclipse.org/eclipselink/xsds/persistence/oxm"
				uri="schemas/eclipselink_oxm_2_3.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_oxm_2_0.xsd"
				uri="schemas/eclipselink_oxm_2_0.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_oxm_2_1.xsd"
				uri="schemas/eclipselink_oxm_2_1.xsd"/>
   			
   			<uri
         		name="http://www.eclipse.org/eclipselink/xsds/eclipselink_oxm_2_2.xsd"
         		uri="schemas/eclipselink_oxm_2_2.xsd"/>
			
			<uri
         		name="http://www.eclipse.org/eclipselink/xsds/eclipselink_oxm_2_3.xsd"
         		uri="schemas/eclipselink_oxm_2_3.xsd"/>
			
			<public
				publicId="http://www.eclipse.org/eclipselink/xsds/persistence"
				uri="schemas/eclipselink_persistence_map_2.3.xsd"/>				
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_persistence_map_1.0.xsd"
				uri="schemas/eclipselink_persistence_map_1.0.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_persistence_map_1.1.xsd"
				uri="schemas/eclipselink_persistence_map_1.1.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_persistence_map_1.2.xsd"
				uri="schemas/eclipselink_persistence_map_1.2.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_persistence_map_2.0.xsd"
				uri="schemas/eclipselink_persistence_map_2.0.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_persistence_map_2.3.xsd"
				uri="schemas/eclipselink_persistence_map_2.3.xsd"/>
			
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_sessions_1.0.xsd"
				uri="schemas/eclipselink_sessions_1.0.xsd"/>
				
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_sessions_1.1.xsd"
				uri="schemas/eclipselink_sessions_1.1.xsd"/>	
						
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_sessions_1.2.xsd"
				uri="schemas/eclipselink_sessions_1.2.xsd"/>
				
			<uri
				name="http://www.eclipse.org/eclipselink/xsds/eclipselink_sessions_2.0.xsd"
				uri="schemas/eclipselink_sessions_2.0.xsd"/>	
			
		</catalogContribution>
		
    </extension>
	
</plugin>
