<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin name="JPA Documentation Plug-in" id="org.eclipse.jpt.doc.user" version="2.0.0" provider-name="Oracle">
	<!-- =========== -->
	<!-- Define TOC  -->
	<!-- =========== -->
	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true"/>
	</extension>
	<!-- =========== -->
	<!-- Define F1   -->
	<!-- =========== -->
	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts.xml" plugin="org.eclipse.jpt.ui"/>
	</extension>
	<!-- ==================== -->
	<!-- Define Keyword Index -->
	<!-- ==================== -->
	<extension point="org.eclipse.help.index">
		<index file="index.xml"/>
	</extension>
	<!-- =========== -->
	<!-- Cheatsheets -->
	<!-- =========== -->
	<extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
		<category name="%jpaDevelopment" id="com.jpa.category"/>
		<cheatsheet name="%createAJpaProject" category="com.jpa.category" contentFile="$nl$/cheatsheets/add_persistence.xml" id="org.eclipse.jpa.cheatsheet.createproject1">
			<description>%createAJpaProjectDescription</description>
		</cheatsheet>
		<cheatsheet name="%createAPersistentEntity" category="com.jpa.category" contentFile="$nl$/cheatsheets/create_entity.xml" id="org.eclipse.jpa.cheatsheet.addentity">
			<description>%createAPersistentEntityDescription</description>
		</cheatsheet>
		<cheatsheet name="%MapAPersistentEntity" category="com.jpa.category" contentFile="$nl$/cheatsheets/map_entity.xml" id="org.eclipse.jpa.cheatsheet.mapentity">
			<description>%MapAPersistentEntityDescription</description>
		</cheatsheet>
	</extension>
</plugin>
