<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<!-- =========== -->
	<!-- Define TOC  -->
	<!-- =========== -->
	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true"/>
	</extension>
	<!-- =========== -->
	<!-- Define F1   -->
	<!-- =========== -->
	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts.xml" plugin="org.eclipse.jpt.jpa.ui"/>
	</extension>
	<!-- ==================== -->
	<!-- Define Keyword Index -->
	<!-- ==================== -->
	<extension point="org.eclipse.help.index">
		<index file="index.xml"/>
	</extension>
	<!-- =========== -->
	<!-- Cheatsheets -->
	<!-- =========== -->
</plugin>
