<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<!-- ***** TOC ***** -->
	<extension
		point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true"/>
	</extension>

	<!-- ***** F1 ***** -->
	<extension
		point="org.eclipse.help.contexts">
		<contexts file="contexts.xml" plugin="org.eclipse.jpt.jpa.ui"/>
	</extension>

	<!-- ***** Keyword Index ***** -->
	<extension
		point="org.eclipse.help.index">
		<index file="index.xml"/>
	</extension>

	<!-- ***** Cheatsheets ***** -->
	<extension
		point="org.eclipse.ui.cheatsheets.cheatSheetContent">

		<category name="JPA Development"
			id="org.eclipse.jpt.jpa.category"/>

		<cheatsheet name="%createAJpaProject"
			id="org.eclipse.jpt.jpa.cheatsheet.CreateJpaProject"
			contentFile="$nl$/cheatsheets/add_persistence.xml"
			category="org.eclipse.jpt.jpa.category">
			<description>%createAJpaProjectDescription</description>
		</cheatsheet>

		<cheatsheet name="%createAPersistentEntity"
			id="org.eclipse.jpt.jpa.cheatsheet.AddEntity"
			contentFile="$nl$/cheatsheets/create_entity.xml"
			category="org.eclipse.jpt.jpa.category">
			<description>%createAPersistentEntityDescription</description>
		</cheatsheet>

		<cheatsheet name="%MapAPersistentEntity"
			id="org.eclipse.jpt.jpa.cheatsheet.MapEntity"
			contentFile="$nl$/cheatsheets/map_entity.xml"
			category="org.eclipse.jpt.jpa.category">
			<description>%MapAPersistentEntityDescription</description>
		</cheatsheet>

	</extension>

</plugin>
