<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
		point="org.eclipse.ui.newWizards">
		
		<category
			id="org.eclipse.jpt.jaxb"
			name="%jpaWizardCategoryName"/>
 			
 		<wizard
            id="org.eclipse.jpt.jaxb.ui.wizard.generateSchemaFromClasses"
			name="%generateSchemaFromClassesName"
 			category="org.eclipse.jpt.jaxb"
 			class="org.eclipse.jpt.jaxb.ui.internal.wizards.schemagen.SchemaGeneratorWizard"
			icon="icons/full/etool16/NewXSD.gif">
				<description>%generateSchemaFromClassesDesc</description>
				<selection class="org.eclipse.core.resources.IResource"/> 
		</wizard>
      
	</extension>

	<extension
		point="org.eclipse.ui.popupMenus">

	<!-- contributions to the "Generate" submenu -->
	<objectContribution
		id="org.eclipse.jpt.ui.xsdFileActions"
		objectClass="org.eclipse.core.resources.IFile"
		nameFilter="*.xsd">
		<filter
			name="projectNature"
			value="org.eclipse.jdt.core.javanature">
		</filter>
		<action
			id="org.eclipse.jpt.jaxb.ui.generateJaxbClasses" 
			label="%generateJaxbClasses"
			menubarPath="generateMenuId/GenerateXML"
			class="org.eclipse.jpt.jaxb.ui.internal.actions.GenerateClassesAction"> 
		</action> 
	</objectContribution> 
	</extension>

</plugin>
