<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
		point="org.eclipse.jpt.core.jpaPlatforms">
		
		<jpaPlatform
			id="core.testJpaPlatform"
			label="Test Jpa Platform"
			factoryClass="org.eclipse.jpt.core.tests.extension.resource.TestJpaPlatformFactory"
			default="true">
		</jpaPlatform>
		
	</extension>
	
	<extension
		point="org.eclipse.jpt.ui.jpaPlatforms">
		
		<jpaPlatform
			id="core.testJpaPlatform"
			jpaPlatformId="core.testJpaPlatform.ui"
			factoryClass="org.eclipse.jpt.core.tests.extension.resource.TestJpaPlatformUiFactory">
		</jpaPlatform>
		
	</extension>

</plugin>
