###------------------------------------------------
#macro( append $members $parameters )
#if ($members == "")
	#set( $members = $parameters )
#else
	#set( $members = "$members $parameters" ) 
#end	
#end
###------------------------------------------------
#set ($DQ = '"')
#set ($members = "")
#if (!$column.defaultname)
#append($members "name=$customizer.convertToXmlStringLiteral($column.name)" )
#end
#if (!$column.insertable)
#append(${members} "insertable=${DQ}false${DQ}")
#end
#if (!$column.updateable)
#append(${members} "updatable=${DQ}false${DQ}")
#end
#if ($members !="")
				<column $members/>
#end
#if ($column.dataTypeLOB)
				<lob/>
#end
#if ($column.needMapTemporalType)
				<temporal>$column.temporalType</temporal>
#end