##included template. Generates the many-to-one element.
##Assumes that the context has a "role" object representing the generated AssociationRole
#set ($DQ = '"')
#set ($members = "name=${DQ}$role.propertyName${DQ} target-entity=${DQ}$role.referencedTable.qualifiedClassName${DQ}")
#if ($customizer.genFetchXml($role.referrerTable)!= "" && $customizer.genFetchXml($role.referrerTable)!= "EAGER")
	#set ($members = $customizer.appendAttribute($members, "fetch", $customizer.genFetchXml($role.referrerTable), true))
#end
			<many-to-one $members>
#parse("join.vm")
#set ($cascade=$customizer.genCascadesXml($role))
#if ($cascade!="")
				<cascade>
					$cascade
				</cascade>
#end
			</many-to-one>
