<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2007, 2012 Oracle. All rights reserved.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0, which accompanies this distribution
  and is available at http://www.eclipse.org/legal/epl-2.0/.

  Contributors:
    Oracle - initial API and implementation
 -->

<plugin>
	
	<extension
		point="org.eclipse.jpt.jaxb.ui.jaxbPlatformUis">
		
		<jaxbPlatformUi
			id="eclipselink_2_1.ui"
			jaxbPlatform="eclipselink_2_1"
			class="org.eclipse.jpt.jaxb.eclipselink.ui.internal.v2_1.ELJaxb_2_1_PlatformUi"/>
		
		<jaxbPlatformUi
			id="eclipselink_2_2.ui"
			jaxbPlatform="eclipselink_2_2"
			class="org.eclipse.jpt.jaxb.eclipselink.ui.internal.v2_2.ELJaxb_2_2_PlatformUi"/>
		
		<jaxbPlatformUi
			id="eclipselink_2_3.ui"
			jaxbPlatform="eclipselink_2_3"
			class="org.eclipse.jpt.jaxb.eclipselink.ui.internal.v2_3.ELJaxb_2_3_PlatformUi"/>
		
		<jaxbPlatformUi
			id="eclipselink_2_4.ui"
			jaxbPlatform="eclipselink_2_4"
			class="org.eclipse.jpt.jaxb.eclipselink.ui.internal.v2_4.ELJaxb_2_4_PlatformUi"/>
		
		<jaxbPlatformUi
			id="eclipselink_2_5.ui"
			jaxbPlatform="eclipselink_2_5"
			class="org.eclipse.jpt.jaxb.eclipselink.ui.internal.v2_5.ELJaxb_2_5_PlatformUi"/>
				
	</extension>
	
	
	<extension
		point="org.eclipse.ui.commands">
		
		<command
			id="org.eclipse.jpt.jaxb.eclipselink.ui.command.addEclipseLinkJaxbProperty"
			name="%addEclipseLinkJaxbPropertyCommand"/>
		
	</extension>
	
	
	<extension
		point="org.eclipse.ui.handlers">
		
		<handler
			commandId="org.eclipse.jpt.jaxb.eclipselink.ui.command.addEclipseLinkJaxbProperty"
			class="org.eclipse.jpt.jaxb.eclipselink.ui.internal.commands.AddEclipseLinkJaxbPropertyCommandHandler">
			<enabledWhen>
				<iterate ifEmpty="false">
					<adapt type="org.eclipse.jpt.jaxb.core.context.JaxbPackage">
						<test 
							property="org.eclipse.jpt.jaxb.eclipselink.core.hasEclipseLinkJaxbProperty" 
							value="false"/>
					</adapt>
				</iterate>
			</enabledWhen>
		</handler>
		
	</extension>
	
	
	<extension
		point="org.eclipse.ui.menus">
		
		<!-- contributions to the JAXB menu -->
		<menuContribution
			locationURI="popup:org.eclipse.jpt.jaxb.ui.menu.jaxb">
			
			<!-- 
				"Add EclipseLink JAXB property" menu item for any JaxbPackage
				that does not already have one
			-->
			<command commandId="org.eclipse.jpt.jaxb.eclipselink.ui.command.addEclipseLinkJaxbProperty">
				<visibleWhen checkEnabled="true"/>
			</command>
			
		</menuContribution>
		
	</extension>
	
	
	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
				
		<commonWizard
			menuGroupId="org.eclipse.jpt.jaxb.ui.menu.jaxb"
			type="new"
			wizardId="org.eclipse.jpt.jaxb.eclipselink.ui.wizard.newOxmFile"
			associatedExtensionId="org.eclipse.jpt.jaxb.ui.jaxbNavigatorContent">
			<enablement>
				<and>
					<or>
						<instanceof value="org.eclipse.core.resources.IProject"/>
						<instanceof value="org.eclipse.core.resources.IFolder"/>
						<instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
						<instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
					</or>
					<adapt type="org.eclipse.core.resources.IResource">
						<reference definitionId="org.eclipse.jpt.jaxb.expression.hasJaxbFacet"/>
					</adapt>
					<adapt type="org.eclipse.jpt.jaxb.core.platform.JaxbPlatformConfig">
						<reference definitionId="org.eclipse.jpt.jaxb.eclipselink.expression.jaxbPlatformIsEclipseLink"/>
					</adapt>
				</and>
			</enablement>
		</commonWizard>
		
	</extension>
	
	
	<extension
		point="org.eclipse.ui.newWizards">
		
		<category
			id="org.eclipse.jpt.jaxb.eclipselink"
			name="%eclipseLinkWizardCategoryName"
			parentCategory="org.eclipse.jpt.jaxb"/>
			
		<wizard
            id="org.eclipse.jpt.jaxb.eclipselink.ui.wizard.newOxmFile"
			name="%newOxmFileWizardName"
			icon="$nl$/images/buttons/new-oxm-file.png"
			class="org.eclipse.jpt.jaxb.eclipselink.ui.internal.wizards.oxm.OxmFileWizard"
			category="org.eclipse.jpt.jaxb/org.eclipse.jpt.jaxb.eclipselink">
			<description>%newOxmFileWizardDesc</description>
		</wizard>
      
	</extension>
	
</plugin>
