<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
     Copyright (c) 2010, 2011  Oracle. All rights reserved.
     This program and the accompanying materials are made available under the
     terms of the Eclipse Public License v1.0, which accompanies this distribution
     and is available at http://www.eclipse.org/legal/epl-v10.html
     
     Contributors: 
     	Oracle - initial API and implementation
 -->

<plugin>
	
 	<extension
		point="org.eclipse.ui.menus">
		
		<!-- contributions for any popup -->
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any">
						
			<menu
				id="org.eclipse.jpt.dbws.ui.menu.WebServices"
				label="%dbwsWizardCategoryName">
			</menu>
		</menuContribution>
		
 	</extension>


	<extension
		point="org.eclipse.ui.newWizards">

		<category
			id="org.eclipse.jpt.dbws"
			name="%dbwsWizardCategoryName"/>

 		<wizard
            id="org.eclipse.jpt.dbws.ui.wizard.generateDbws"
			name="%generateDbwsFromXmlName"
 			category="org.eclipse.jpt.dbws"
 			class="org.eclipse.jpt.dbws.eclipselink.ui.internal.wizards.gen.DbwsGeneratorWizard"
			icon="icons/full/etool16/newclient_webserv_wiz.gif">
				<description>%generateDbwsFromXmlDesc</description>
		</wizard>

	</extension>
			

	<extension
		point="org.eclipse.ui.popupMenus">

		<!-- contributions to the "Generate" submenu -->
		<objectContribution
			id="org.eclipse.jpt.ui.xsdFileActions"
			objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*builder.xml">
			
			<filter
				name="projectNature"
				value="org.eclipse.jdt.core.javanature">
			</filter>
			<enablement>
				<test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jst.web"/>
			</enablement>
			<action
				id="org.eclipse.jpt.dbws.ui.generateDbws" 
				label="%generateDBWS"
				menubarPath="org.eclipse.jpt.dbws.ui.menu.WebServices/content"
				class="org.eclipse.jpt.dbws.eclipselink.ui.internal.actions.GenerateDbwsAction"> 
			</action> 
		</objectContribution>
		
	</extension>


</plugin>
