<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
     Copyright (c) 2010, 2011  Oracle. All rights reserved.
     This program and the accompanying materials are made available under the
     terms of the Eclipse Public License v1.0, which accompanies this distribution
     and is available at http://www.eclipse.org/legal/epl-v10.html
     
     Contributors: 
     	Oracle - initial API and implementation
 -->

<plugin>
	
	
	<!-- ***** commands ***** -->
	
	<extension
		point="org.eclipse.ui.commands">
		
		<command
			id="org.eclipse.jpt.dbws.ui.generateDbws"
			name="%generateDBWS" >
		</command>
		
	</extension>		


	<!-- ***** handlers ***** -->
	
	<extension
		point="org.eclipse.ui.handlers">
		
		<handler
			commandId="org.eclipse.jpt.dbws.ui.generateDbws"
			class="org.eclipse.jpt.dbws.eclipselink.ui.internal.handlers.GenerateDbwsHandler">
			<activeWhen>
				<with variable="selection">
					<count value="1"/>
					<iterate>
						<and>
							<adapt type="org.eclipse.core.resources.IFile">
								<and>
									<test
										property="org.eclipse.core.resources.name"
										value="*builder.xml"/>
									<test 
										property="org.eclipse.wst.common.project.facet.core.projectFacet"
										value="jst.web"/>
								</and>
							</adapt>
						</and>
					</iterate>
				</with>
			</activeWhen>
		</handler>

	</extension>
 	
 	
	<!-- ***** menus ***** -->
 	
 	<extension
		point="org.eclipse.ui.menus">
		
		<!-- contributions for any popup -->
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any">
						
			<menu
				id="org.eclipse.jpt.dbws.ui.menu.WebServices"
				label="%dbwsWizardCategoryName">
			</menu>
		</menuContribution>

		<!-- contributions to the "Database Web Services" submenu -->

		<menuContribution 
			locationURI="popup:org.eclipse.jpt.dbws.ui.menu.WebServices">
			
				<command commandId="org.eclipse.jpt.dbws.ui.generateDbws">
					<visibleWhen checkEnabled="true"/>
				</command>
		</menuContribution>
		
		
 	</extension>
 	
 	
	<!-- ***** newWizards ***** -->

	<extension
		point="org.eclipse.ui.newWizards">

		<category
			id="org.eclipse.jpt.dbws"
			name="%dbwsWizardCategoryName"/>

 		<wizard
            id="org.eclipse.jpt.dbws.ui.wizard.generateDbws"
			name="%generateDbwsFromXmlName"
 			category="org.eclipse.jpt.dbws"
 			class="org.eclipse.jpt.dbws.eclipselink.ui.internal.wizards.gen.DbwsGeneratorWizard"
			icon="$nl$/images/buttons/new-web-services-client.gif">
				<description>%generateDbwsFromXmlDesc</description>
		</wizard>

	</extension>

</plugin>
