<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2007, 2012 Oracle. All rights reserved.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v1.0, which accompanies this distribution
  and is available at http://www.eclipse.org/legal/epl-v10.html.

  Contributors:
    Oracle - initial API and implementation
 -->

<plugin>

	<extension
		point="org.eclipse.jpt.jpa.ui.jpaPlatformUis">
		 
		<jpaPlatformUi
			id="org.eclipse.eclipselink.platform.ui"
			jpaPlatform="org.eclipse.eclipselink.platform"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLinkJpaPlatformUiFactory"/>
			
		<jpaPlatformUi
			id="eclipselink1_1.ui"
			jpaPlatform="eclipselink1_1"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLink1_1JpaPlatformUiFactory"/>
			
		<jpaPlatformUi
			id="eclipselink1_2.ui"
			jpaPlatform="eclipselink1_2"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLink1_2JpaPlatformUiFactory"/>
		
		<jpaPlatformUi
			id="eclipselink2_0.ui"
			jpaPlatform="eclipselink2_0"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLink2_0JpaPlatformUiFactory"/>
		
		<jpaPlatformUi
			id="eclipselink2_1.ui"
			jpaPlatform="eclipselink2_1"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLink2_1JpaPlatformUiFactory"/>
		
		<jpaPlatformUi
			id="eclipselink2_2.ui"
			jpaPlatform="eclipselink2_2"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLink2_2JpaPlatformUiFactory"/>
		
		<jpaPlatformUi
			id="eclipselink2_3.ui"
			jpaPlatform="eclipselink2_3"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLink2_3JpaPlatformUiFactory"/>
		
		<jpaPlatformUi
			id="eclipselink2_4.ui"
			jpaPlatform="eclipselink2_4"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLink2_4JpaPlatformUiFactory"/>
		
		<jpaPlatformUi
			id="eclipselink2_5.ui"
			jpaPlatform="eclipselink2_5"
			factoryClass="org.eclipse.jpt.jpa.eclipselink.ui.internal.platform.EclipseLink2_5JpaPlatformUiFactory"/>
	</extension>
	
	
	<extension
		point="org.eclipse.ui.newWizards">
		
		<category
			id="org.eclipse.jpt.jpa.eclipselink"
			name="%eclipseLinkWizardCategoryName"
			parentCategory="org.eclipse.jpt.jpa"/>

<!-- bug 395126
			icon="platform:/plugin/org.eclipse.jpt.jpa.ui/$nl$/images/buttons/new-jpa-file.gif"
 -->
		<wizard
            id="org.eclipse.jpt.jpa.eclipselink.ui.wizard.newEclipseLinkMappingFile"
			name="%newEclipseLinkMappingFileWizardName"
			icon="platform:/plugin/org.eclipse.jpt.jpa.ui/images/buttons/new-jpa-file.gif"
			category="org.eclipse.jpt.jpa/org.eclipse.jpt.jpa.eclipselink">
			<description>%newEclipseLinkJpaMappingFileWizardDesc</description>
			<class class="org.eclipse.jpt.jpa.eclipselink.ui.internal.wizards.EclipseLinkMappingFileWizard"> 
				<parameter name="javaeeartifact" value="true"/> 
				<parameter name="menuIndex" value="40" /> 
				<parameter name="jptartifact" value="true"/> 
			</class> 
		</wizard>
		
<!-- bug 395126
			icon="platform:/plugin/org.eclipse.jpt.jpa.ui/$nl$/images/buttons/new-jpa-file.gif"
 -->
		<wizard
			category="org.eclipse.jpt.jpa/org.eclipse.jpt.jpa.eclipselink"
			class="org.eclipse.jpt.jpa.eclipselink.ui.internal.wizards.gen.GenerateDynamicEntitiesFromSchemaWizard"
			icon="platform:/plugin/org.eclipse.jpt.jpa.ui/images/buttons/new-jpa-file.gif"
			id="org.eclipse.jpt.jpa.eclipselink.ui.wizard.newDynamicEntitiesFromTables"
			name="%newDynamicEntityFromTableWizardName">
			<description>%newDynamicEntityFromTableWizardDesc</description>
			<selection class="org.eclipse.core.resources.IResource"/> 
        </wizard>		

<!-- bug 395126
			icon="platform:/plugin/org.eclipse.jpt.jpa.ui/$nl$/images/buttons/new-entity.gif"
 -->
        <wizard
            id="org.eclipse.jpt.jpa.eclipselink.ui.wizard.newEclipseLinkDynamicEntity"
			name="%newEclipseLinkDynamicEntityName"
			icon="platform:/plugin/org.eclipse.jpt.jpa.ui/images/buttons/new-entity.gif"
			category="org.eclipse.jpt.jpa/org.eclipse.jpt.jpa.eclipselink">
			<description>%newEclipseLinkDynamicEntityWizardDesc</description>
			<class class="org.eclipse.jpt.jpa.eclipselink.ui.internal.wizards.EclipseLinkDynamicEntityWizard"> 
				<parameter name="javaeeartifact" value="true"/> 
				<parameter name="menuIndex" value="41" /> 
				<parameter name="jptartifact" value="true"/> 
			</class> 
		</wizard>
		    
	</extension>


	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
		
		<commonWizard
			menuGroupId="org.eclipse.jpt.jpa.ui"
			type="new"
			wizardId="org.eclipse.jpt.jpa.eclipselink.ui.wizard.newEclipseLinkMappingFile">
			<enablement>
				<and>
					<or>
						<instanceof value="org.eclipse.core.resources.IProject"/>
                    	<instanceof value="org.eclipse.core.resources.IFolder"/>
						<instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
						<instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
					</or>
					<adapt type="org.eclipse.core.resources.IResource">
						<reference definitionId="org.eclipse.jpt.jpa.reference.hasJpaFacet"/>
					</adapt>
					<adapt type="org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
						<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
					</adapt>
				</and>
			</enablement>
		</commonWizard>
		
		<commonWizard
			menuGroupId="org.eclipse.jpt.jpa.ui"
			type="new"
			wizardId="org.eclipse.jpt.jpa.eclipselink.ui.wizard.newEclipseLinkDynamicEntity">
			<enablement>
				<and>
					<or>
						<instanceof value="org.eclipse.core.resources.IProject"/>
						<instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
						<instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
					</or>
					<adapt type="org.eclipse.core.resources.IResource">
						<reference definitionId="org.eclipse.jpt.jpa.reference.hasJpaFacet"/>
					</adapt>
					<adapt type = "org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
						<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
						<not> 
                        	<test 
                            	property="org.eclipse.jpt.jpa.core.jpaPlatform" 
                                value="org.eclipse.eclipselink.platform"/>
                        </not>
						<not> 
                        	<test 
                            	property="org.eclipse.jpt.jpa.core.jpaPlatform" 
                                value="eclipselink1_1"/>
                        </not>
                        <not> 
                        	<test 
                            	property="org.eclipse.jpt.jpa.core.jpaPlatform" 
                                value="eclipselink1_2"/>
                        </not>
                        <not> 
                        	<test 
                            	property="org.eclipse.jpt.jpa.core.jpaPlatform" 
                                value="eclipselink2_0"/>
                        </not> 
					</adapt>
				</and>
			</enablement>
		</commonWizard>
		
	</extension>
	
	
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		
		<perspectiveExtension
			targetID="org.eclipse.jpt.ui.jpaPerspective">
			<newWizardShortcut
				id="org.eclipse.jpt.jpa.eclipselink.ui.wizard.newEclipseLinkMappingFile">
			</newWizardShortcut>
		</perspectiveExtension>
		
		<perspectiveExtension
			targetID="org.eclipse.jpt.ui.jpaPerspective">
			<newWizardShortcut
				id="org.eclipse.jpt.jpa.eclipselink.ui.wizard.newEclipseLinkDynamicEntity">
			</newWizardShortcut>
		</perspectiveExtension>
		
	</extension>

	<extension
		point="org.eclipse.ui.propertyPages">
		
		<page
			id="org.eclipse.jpt.jpa.eclipselink.ui.eclipselinkProjectProperties"
			name="%eclipseLinkNode"
			category="org.eclipse.jpt.jpa.ui.jpaProjectProperties"
			class="org.eclipse.jpt.jpa.eclipselink.ui.internal.weave.EclipseLinkPreferencePage">
			<enabledWhen>
				<and>
					<adapt type="org.eclipse.core.resources.IProject">
						<reference definitionId="org.eclipse.jpt.jpa.reference.hasJpaFacet"/>
					</adapt>
					<!-- if the o.e.jpt.jpa.core plug-in is not loaded yet, 
					this will result in true and properties page will appear for a non-eclipselink platform project  -->
					<adapt type="org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
						<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
					</adapt>
				</and>
			</enabledWhen>
		</page>
		
	</extension>

	<!-- ***** commands ***** -->

  	<extension
        point="org.eclipse.ui.commands">

		<command
			id="org.eclipse.jpt.jpa.eclipselink.ui.newEclipseLinkMappingFile"
			name="%newEclipseLinkMappingFileWizardName">
		</command>
		
		<command
			id="org.eclipse.jpt.jpa.eclipselink.ui.newDynamicEntity"
			name="%newEclipseLinkDynamicEntityName">
		</command>
		
		<command
			id="org.eclipse.jpt.jpa.eclipselink.ui.persistentTypeAddVirtualAttribute"
			name="%addVirtualAttribute"
			categoryId="org.eclipse.jpt.jpa.ui.jpaStructureViewCommands"/>
		
		<command
			id="org.eclipse.jpt.jpa.eclipselink.ui.convertJavaConverters"
			name="%moveJavaConvertersToXML"
			categoryId="org.eclipse.jpt.jpa.ui.jpaMetadataConversionCommands"/>
		
		<command
			id="org.eclipse.jpt.jpa.eclipselink.ui.generateDynamicEntities"
			name="%generateDynamicEntities"/>

		<command
        	id="org.eclipse.jpt.jpa.eclipselink.ui.upgradeToEclipseLinkMappingFile"
        	name="%upgradeToEclipseLinkMappingFile">
  		</command>

  	</extension>

	<!-- ***** handlers ***** -->

   <extension
          point="org.eclipse.ui.handlers">
		
		<handler
			commandId="org.eclipse.jpt.jpa.eclipselink.ui.newEclipseLinkMappingFile"
			class="org.eclipse.jpt.jpa.eclipselink.ui.internal.handlers.NewEclipseLinkMappingFileHandler">
		</handler>
		
		<handler
			commandId="org.eclipse.jpt.jpa.eclipselink.ui.newDynamicEntity"
			class="org.eclipse.jpt.jpa.eclipselink.ui.internal.handlers.NewDynamicEntityHandler">
		</handler>

		<handler
			commandId="org.eclipse.jpt.jpa.eclipselink.ui.persistentTypeAddVirtualAttribute"
			class="org.eclipse.jpt.jpa.eclipselink.ui.internal.handlers.AddVirtualAttributeHandler">
			<activeWhen>
				<and>
					<reference definitionId="org.eclipse.jpt.jpa.ui.reference.inJpaStructureView"/>
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<instanceof value="org.eclipse.jpt.jpa.eclipselink.core.context.orm.EclipseLinkOrmPersistentType"/>
							<test property="org.eclipse.jpt.common.core.resourceTypeIsKindOf" value="org.eclipse.jpt.jpa.eclipselink.core.content.orm:2.1"/>
						</iterate>
					</with>
				</and>
			</activeWhen>
		</handler>
		
		<handler
			commandId="org.eclipse.jpt.jpa.eclipselink.ui.convertJavaConverters"
			class="org.eclipse.jpt.jpa.eclipselink.ui.internal.commands.JavaConverterConversionHandler">
			<activeWhen>
				<with variable="selection">
					<count value="1"/>
					<iterate>
						<adapt type="org.eclipse.core.resources.IProject">
							<reference definitionId="org.eclipse.jpt.jpa.reference.hasJpaFacet"/>
						</adapt>
						<!-- if the o.e.jpt.jpa.core plug-in is not loaded yet, 
						this will result in true and the command will appear in the Quick Access  -->
						<adapt type="org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
							<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
						</adapt>
					</iterate>
				</with>
			</activeWhen>
		</handler>
		
		<handler
			commandId="org.eclipse.jpt.jpa.eclipselink.ui.generateDynamicEntities"
			class="org.eclipse.jpt.jpa.eclipselink.ui.internal.commands.GenerateDynamicEntitiesHandler">
			<activeWhen>
				<with variable="selection">
					<count value="1"/>
					<iterate>
						<adapt type="org.eclipse.core.resources.IProject">
							<reference definitionId="org.eclipse.jpt.jpa.reference.hasJpaFacet"/>
						</adapt>
						<!-- if the o.e.jpt.jpa.core plug-in is not loaded yet, 
						this will result in true and the command will appear in the Quick Access  -->
						<adapt type="org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
							<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
						</adapt>
					</iterate>
				</with>
			</activeWhen>
		</handler>

  		<handler
        	class="org.eclipse.jpt.jpa.eclipselink.ui.internal.commands.UpgradeToEclipseLinkMappingFileXmlResourceHandler"
        	commandId="org.eclipse.jpt.jpa.eclipselink.ui.upgradeToEclipseLinkMappingFile">
     		
			<activeWhen>
				<iterate ifEmpty="false">
					<!-- if the o.e.jpt.jpa.core plug-in is not loaded yet, 
					this will result in true and the command will appear in the Quick Access  -->
					<adapt type="org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
						<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
					</adapt>
					<adapt type="org.eclipse.jpt.common.core.resource.xml.JptXmlResource">
						<test property="org.eclipse.jpt.jpa.core.isGenericMappingFile"/>
					</adapt>
				</iterate>
			</activeWhen>
  		</handler>

  		<handler
        	class="org.eclipse.jpt.jpa.eclipselink.ui.internal.commands.UpgradeToEclipseLinkMappingFileXmlFileHandler"
        	commandId="org.eclipse.jpt.jpa.eclipselink.ui.upgradeToEclipseLinkMappingFile">
     		
			<activeWhen>
				<iterate ifEmpty="false">
					<!-- if the o.e.jpt.jpa.core plug-in is not loaded yet, 
					this will result in true and the command will appear in the Quick Access  -->
					<adapt type="org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
						<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
					</adapt>
					<adapt type="org.eclipse.jpt.jpa.core.context.XmlFile">
						<test property="org.eclipse.jpt.jpa.core.isGenericMappingFile"/>
					</adapt>
				</iterate>
			</activeWhen>
  		</handler>
		
	</extension>
	
	
	<!-- ***** menus ***** -->

	<extension
		point="org.eclipse.ui.menus">
		
		<!-- contributions to the JptCreation pulldown -->
		<menuContribution 
			locationURI="menu:org.eclipse.jpt.jpa.ui.jptCreation.pulldown?after=jptCreation.separator">
	
			<command 
				commandId="org.eclipse.jpt.jpa.eclipselink.ui.newEclipseLinkMappingFile"
				label="%newEclipseLinkMappingFileWizardName"
				icon="platform:/plugin/org.eclipse.jpt.jpa.ui/images/buttons/new-jpa-file.gif"
				disabledIcon="platform:/plugin/org.eclipse.jpt.jpa.ui/images/buttons/new-jpa-file.gif"
				style="push">
			</command>

			<command 
				commandId="org.eclipse.jpt.jpa.eclipselink.ui.newDynamicEntity"
				label="%newEclipseLinkDynamicEntityName"
				icon="platform:/plugin/org.eclipse.jpt.jpa.ui/images/buttons/new-entity.gif"
				disabledIcon="platform:/plugin/org.eclipse.jpt.jpa.ui/images/buttons/new-entity.gif"
				style="push">
			</command>

		</menuContribution>

		<!-- contributions to the "JPA Tools" submenu -->
		<menuContribution 
			locationURI="popup:org.eclipse.jpt.jpa.ui.menu.JpaTools?after=generate">
			
			<command commandId="org.eclipse.jpt.jpa.eclipselink.ui.generateDynamicEntities">
				<visibleWhen checkEnabled="true"/>
			</command>

   			<command commandId="org.eclipse.jpt.jpa.eclipselink.ui.upgradeToEclipseLinkMappingFile">
	   			<visibleWhen>
					<iterate ifEmpty="false">
						<adapt type="org.eclipse.jpt.common.core.resource.xml.JptXmlResource">
							<test property="org.eclipse.jpt.jpa.core.isGenericMappingFile"/>
	           			</adapt>
						<adapt type="org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
							<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
						</adapt>
					</iterate>
				</visibleWhen>
  			</command>
			
		</menuContribution>
		
		<!-- contributions to objects in the JPA structure view -->
		<menuContribution 
			locationURI="popup:org.eclipse.jpt.ui.jpaStructureView">
			
			<command commandId="org.eclipse.jpt.jpa.eclipselink.ui.persistentTypeAddVirtualAttribute">
				<visibleWhen checkEnabled="true"/>
			</command>
		</menuContribution>
		
        <!-- contributions to "Move to XML" submenu-->
        <menuContribution 
        	locationURI="popup:org.eclipse.jpt.jpa.ui.menu.moveToXml">
			
			<command 
				commandId="org.eclipse.jpt.jpa.eclipselink.ui.convertJavaConverters"
         		label="%convertJavaConverters">	
				<visibleWhen checkEnabled="true"/>
			</command>
			
		</menuContribution>

		<!-- contributions for any popup -->
        <menuContribution 
        	locationURI="popup:org.eclipse.ui.popup.any">
        	
        	<command commandId="org.eclipse.jpt.jpa.eclipselink.ui.upgradeToEclipseLinkMappingFile">
        		<visibleWhen>
        			<iterate ifEmpty="false">
        				<adapt type="org.eclipse.jpt.jpa.core.context.XmlFile">
        					<test property="org.eclipse.jpt.jpa.core.isGenericMappingFile"/>
                   	   	</adapt>
						<adapt type="org.eclipse.jpt.jpa.core.platform.JpaPlatformConfig">
							<reference definitionId="org.eclipse.jpt.jpa.eclipselink.reference.hasEclipseLinkJpaPlatform"/>
						</adapt>
					</iterate>
				</visibleWhen>
			</command>
              
         </menuContribution>
         
	 </extension>
	
</plugin>
