-quiet
-charset "utf-8"
-sourcepath "@jptsourcepath@"
-classpath @rt@;@jptrt@;@wtprt@
-breakiterator
-use
-splitIndex

-windowtitle "Dali Java Persistence Tools Doc"
-doctitle "Dali Provisional API"
-header "<b>Dali Provisional API</b><br>Release 3.2"
-bottom "Copyright (c) 2012 Oracle. All rights reserved."
-link http://docs.oracle.com/javase/6/docs/api/
-link http://download.eclipse.org/modeling/emf/emf/javadoc/2.8.0/
-link http://help.eclipse.org/juno/topic/org.eclipse.platform.doc.isv/reference/api/
-link http://help.eclipse.org/juno/topic/org.eclipse.platform.doc.isv/reference/extension-points/
-link http://help.eclipse.org/juno/topic/org.eclipse.jdt.doc.isv/reference/api/
-link http://help.eclipse.org/juno/topic/org.eclipse.emf.facet.doc/javadoc/
-link http://www.osgi.org/javadoc/r4v43/core/
-link http://www.eclipse.org/eclipselink/api/2.4/
#-link http://download.eclipse.org/modeling/emf/emf/javadoc/xsd/2.8.0/

# Dali packages
@jptPackages@
