<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2011, 2012 Oracle. All rights reserved.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v1.0, which accompanies this distribution
  and is available at http://www.eclipse.org/legal/epl-v10.html.

  Contributors:
    Oracle - initial API and implementation
 -->

<plugin>
	
	<extension
		point="org.eclipse.core.contenttype.contentTypes">
		
		<!-- oxm.xml -->
  		<content-type
			id="org.eclipse.jpt.jaxb.eclipselink.core.content.oxm"
			name="%OXM_XML_CONTENT"
			base-type="org.eclipse.jpt.jaxb.core.content.jaxbXmlContent">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
				<parameter 
					name="element" 
					value="{http://www.eclipse.org/eclipselink/xsds/persistence/oxm}xml-bindings"/>
			</describer>
		</content-type>
		
	</extension>
	
	
	<!-- ***** expressions ***** -->

	<extension point="org.eclipse.core.expressions.definitions">
		<!-- A test for determining whether something adapts to a JaxbPlatformConfig 
			and has an eclipselink platform.
			Force activation of the wst facet plug-in containing the property tester.
			Possible usage:
			<adapt type="org.eclipse.jpt.jaxb.core.platform.JaxbPlatformConfig">
				<reference definitionId="org.eclipse.jpt.jaxb.eclipselink.reference.hasEclipseLinkPlatform"/>
			</adapt>
		-->			
		<definition id="org.eclipse.jpt.jaxb.eclipselink.reference.hasEclipseLinkPlatform">
			<test
				property="org.eclipse.jpt.jaxb.core.jaxbPlatformGroup"
				value="eclipselink"
				forcePluginActivation="true"/>
		</definition>
		
	</extension>
	
	
	<extension 
		point="org.eclipse.core.expressions.propertyTesters">
		
		<propertyTester
			id="org.eclipse.jpt.jaxb.eclipselink.core.propertyTester.JaxbPackage"
			type="org.eclipse.jpt.jaxb.core.context.JaxbPackage"
			namespace="org.eclipse.jpt.jaxb.eclipselink.core"
			properties="hasEclipseLinkJaxbProperty"
			class="org.eclipse.jpt.jaxb.eclipselink.core.internal.context.JaxbPackagePropertyTester"/>
		
	</extension>
	
	
	<extension
		point="org.eclipse.jpt.jaxb.core.jaxbPlatforms">
		
		<jaxbPlatformGroup
        	id="eclipselink"
        	label="%ECLIPSELINK_PLATFORM_GROUP_LABEL"/>
		
		<jaxbPlatform
			id="eclipselink_2_1"
			label="%ECLIPSELINK_2_1_PLATFORM_LABEL"
			factoryClass="org.eclipse.jpt.jaxb.eclipselink.core.internal.v2_1.ELJaxb_2_1_PlatformDefinitionFactory"
			group="eclipselink"
			jaxbFacetVersion="2.1"
			default="false"/>
		
		<jaxbPlatform
			id="eclipselink_2_2"
			label="%ECLIPSELINK_2_2_PLATFORM_LABEL"
			factoryClass="org.eclipse.jpt.jaxb.eclipselink.core.internal.v2_2.ELJaxb_2_2_PlatformDefinitionFactory"
			group="eclipselink"
			jaxbFacetVersion="2.2"
			default="false"/>
		
		<jaxbPlatform
			id="eclipselink_2_3"
			label="%ECLIPSELINK_2_3_PLATFORM_LABEL"
			factoryClass="org.eclipse.jpt.jaxb.eclipselink.core.internal.v2_3.ELJaxb_2_3_PlatformDefinitionFactory"
			group="eclipselink"
			jaxbFacetVersion="2.2"
			default="false"/>
		
		<jaxbPlatform
			id="eclipselink_2_4"
			label="%ECLIPSELINK_2_4_PLATFORM_LABEL"
			factoryClass="org.eclipse.jpt.jaxb.eclipselink.core.internal.v2_4.ELJaxb_2_4_PlatformDefinitionFactory"
			group="eclipselink"
			jaxbFacetVersion="2.2"
			default="false"/>
		
		<jaxbPlatform
			id="eclipselink_2_5"
			label="%ECLIPSELINK_2_5_PLATFORM_LABEL"
			factoryClass="org.eclipse.jpt.jaxb.eclipselink.core.internal.v2_5.ELJaxb_2_5_PlatformDefinitionFactory"
			group="eclipselink"
			jaxbFacetVersion="2.2"
			default="false"/>
		
	</extension>
	
	
	<extension
		point="org.eclipse.jpt.common.core.libraryValidators">
		
		<libraryValidator
			id="eclipselinkUserLibraryValidator"
			class="org.eclipse.jpt.jaxb.eclipselink.core.internal.libval.ELJaxbUserLibraryValidator">
			<enablement>
				<and>
					<with variable="libraryProvider">
						<test property="org.eclipse.jpt.common.core.extendsId"
							value="jaxb-user-library-provider"/>
					</with>
					<with variable="config">
						<adapt type = "org.eclipse.jpt.jaxb.core.platform.JaxbPlatformConfig">
							<test property="org.eclipse.jpt.jaxb.core.jaxbPlatformGroup"
								value="eclipselink"/>
						</adapt>
					</with>
				</and>
			</enablement>
		</libraryValidator>
		
	</extension>
	
	
	<extension 
		point="org.eclipse.jpt.common.core.resourceTypes">
		
		<resource-type
			id="org.eclipse.jpt.jaxb.eclipselink.core.resource.oxm_2_1"
			content-type="org.eclipse.jpt.jaxb.eclipselink.core.content.oxm"
			version="2.1"/>
		
		<resource-type
			id="org.eclipse.jpt.jaxb.eclipselink.core.resource.oxm_2_2"
			content-type="org.eclipse.jpt.jaxb.eclipselink.core.content.oxm"
			version="2.2"/>
		
		<resource-type
			id="org.eclipse.jpt.jaxb.eclipselink.core.resource.oxm_2_3"
			content-type="org.eclipse.jpt.jaxb.eclipselink.core.content.oxm"
			version="2.3"/>
		
		<resource-type
			id="org.eclipse.jpt.jaxb.eclipselink.core.resource.oxm_2_4"
			content-type="org.eclipse.jpt.jaxb.eclipselink.core.content.oxm"
			version="2.4"/>
		
		<resource-type
			id="org.eclipse.jpt.jaxb.eclipselink.core.resource.oxm_2_5"
			content-type="org.eclipse.jpt.jaxb.eclipselink.core.content.oxm"
			version="2.5"/>
		
	</extension>
	
	
	<!-- ***** WTP resource factories ***** -->

	<extension
		point="org.eclipse.wst.common.modulecore.resourceFactories">
		
		<resourceFactory
			class="org.eclipse.jpt.jaxb.eclipselink.core.resource.oxm.OxmXmlResourceFactory"
			isDefault="true">
			<contentTypeBinding
				contentTypeId="org.eclipse.jpt.jaxb.eclipselink.core.content.oxm">
			</contentTypeBinding>
		</resourceFactory>
		
	</extension>
	
</plugin>
